<html>

<head>
    <title>HBL Dashboard Home</title>
    <link rel="icon" href="static/images/icons/favicon.png">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.js') }}"></script>

    <style>
        html {
            zoom: 100%;
        }

        body {
            background-image: url("{{img_url}}");
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: center;
            overflow-y: hidden;
        }

        .margined {
            margin-left: 70%;
            margin-right: 3%;
            margin-bottom: 2%;
        }

        .scroll_box {
            max-height: 62vh;
            overflow-y: scroll;
            overflow-x: hidden;
            max-width: 100%;
            padding-left: 3px;
            padding-right: 4px;
        }

        #big_header {
            color: black;
            font-family: 'Trebuchet MS';
            font-weight: 900;
            font-size: 5vw;
            margin-left: 3vh;
            background-color: rgba(255, 255, 255, 0.7);
        }
    </style>

</head>

<body>

    <div class="left floated ui header" id="big_header"> &nbsp; TJC HBL Dashboards &nbsp </div>

    <div class="margined" style="margin-top: 2%;">
        <div class="ui segment">

            <h3 class="ui dividing header">About this Website</h3>
            <p>Hello! To help everyone out during this HBL time period, we have rolled out a dashboard website for
                classes to use. <br> <br>
                Here you can enjoy a timetable with a live indicator and can access common links required for ur HBL
                lessons. <br><br>
                Do remind your CG Chairpersons to update your class's custom links! <br>
                Feel free to use your class's dashboard as your browser homepage for convenience.
            </p>


            <div class="ui form">

                <select class="ui fluid search dropdown" style="width: 100%;" name="class_name" id="class_name">
                    <option value="">Class</option>
                    <option value="1A20">1A/20</option>
                    <option value="1B20">1B/20</option>
                    <option value="1C20">1C/20</option>
                    <option value="1D20">1D/20</option>
                    <option value="1E20">1E/20</option>
                    <option value="2A19">2A/19</option>
                    <option value="2B19">2B/19</option>
                    <option value="2C19">2C/19</option>
                    <option value="2D19">2D/19</option>
                    <option value="2E19">2E/19</option>
                    <option value="3A20">3A/20</option>
                    <option value="3B20">3B/20</option>
                    <option value="3C20">3C/20</option>
                    <option value="3D20">3D/20</option>
                    <option value="3E20">3E/20</option>
                    <option value="3F20">3F/20</option>
                    <option value="4A19">4A/19</option>
                    <option value="4B19">4B/19</option>
                    <option value="4C19">4C/19</option>
                    <option value="4D19">4D/19</option>
                    <option value="4E19">4E/19</option>
                    <option value="4F19">4F/19</option>
                    <option value="0120">01/20</option>
                    <option value="0220">02/20</option>
                    <option value="0320">03/20</option>
                    <option value="0420">04/20</option>
                    <option value="0520">05/20</option>
                    <option value="0620">06/20</option>
                    <option value="0720">07/20</option>
                    <option value="0820">08/20</option>
                    <option value="0920">09/20</option>
                    <option value="1020">10/20</option>
                    <option value="1120">11/20</option>
                    <option value="1220">12/20</option>
                    <option value="1320">13/20</option>
                    <option value="1420">14/20</option>
                    <option value="1520">15/20</option>
                    <option value="1620">16/20</option>
                    <option value="1720">17/20</option>
                    <option value="1820">18/20</option>
                    <option value="1920">19/20</option>
                    <option value="2020">20/20</option>
                    <option value="2120">21/20</option>
                    <option value="2220">22/20</option>
                    <option value="2320">23/20</option>
                    <option value="2420">24/20</option>
                    <option value="0119">01/19</option>
                    <option value="0219">02/19</option>
                    <option value="0319">03/19</option>
                    <option value="0419">04/19</option>
                    <option value="0519">05/19</option>
                    <option value="0619">06/19</option>
                    <option value="0719">07/19</option>
                    <option value="0819">08/19</option>
                    <option value="0919">09/19</option>
                    <option value="1019">10/19</option>
                    <option value="1119">11/19</option>
                    <option value="1219">12/19</option>
                    <option value="1319">13/19</option>
                    <option value="1419">14/19</option>
                    <option value="1519">15/19</option>
                    <option value="1619">16/19</option>
                    <option value="1719">17/19</option>
                    <option value="1819">18/19</option>
                    <option value="1919">19/19</option>
                    <option value="2019">20/19</option>
                    <option value="2119">21/19</option>
                    <option value="2219">22/19</option>
                    <option value="2319">23/19</option>
                    <option value="2419">24/19</option>
                    <option value="2519">25/19</option>
                </select>
                <br>

                <select class="ui fluid search dropdown" name="index_number" id="index_number" accesskey="target">
                    <option value="">Index Number</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                </select>
                <p>*You may leave the index number blank if you do not wish to edit your personal bookmarks</p>
                <input class="ui positive button" style="width: 100%" type=button value="Go" onclick="goToNewPage()" />
            </div>


        </div>
    </div>

    </div>

</body>



<script>

    $('.ui.dropdown').dropdown();
    function goToNewPage() {
        var index_number = document.getElementById('index_number').value
        if (index_number == "") {
            index_number = "0";
        }
        var url = document.getElementById('class_name').value + "/" + index_number;
        if (url != 'none') {
            window.location = url;
        }
    }

</script>
<html>