<html>
	<head>
		<title>HBL Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.js') }}"></script>
        
        <style>
            body {
                background-color: lightcoral;
            }
    
            .margined {
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 2%;
            }
        </style>
	</head>
	<body>
        <div class="margined" style="margin-top: 2%;">
            <div class="ui segment">
                <div class="ui huge centered header">Error 403</div>
                <h3 class="ui header">Invalid Password</h3>
                
                <a href="/update"><button class="ui primary button">Try Again</button></a>
            </div>
    
        </div>

    
        <script>
        </script>
    
    </body>
    <html>