<html>
	<head>
		<title>HBL Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.css') }}">
        <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.js') }}"></script>
        
        <style>
            body {
                background-color: azure;
            }
    
            .margined {
                margin-left: 5%;
                margin-right: 5%;
                margin-bottom: 2%;
            }
    
            #time_marker_image {
                width: 10px;
            }
        </style>
	</head>
	<body>
        <div class="margined" style="margin-top: 2%;">
            <div class="ui segment">
                <div class="ui huge centered header">Subject URL Update Page</div>
                <h3 class="ui dividing header">Information</h3>
                <p>Hello! This is the page where CG chairpersons can update information on the relevant class links.<br>
                    If you want to view the links already stored for your class, go to your class's dashboard and click the "downlaod current links button below".<br>
                    Passwords should have been distributed to the CG chairpersons.
                </p>

                <form class="ui form" action ="/submit_update" method="POST">
                    <h4 class="ui dividing header">Identity Information</h4>
                    <div class="field">
                        <label>Class</label>
                        <div class="four wide field">
                            <select class="ui search dropdown class_name" name="class_name" id="class_name">
                                <option value="">Class</option>
                                <option value="1A20">1A/20</option>
                                <option value="1B20">1B/20</option>
                                <option value="1C20">1C/20</option>
                                <option value="1D20">1D/20</option>
                                <option value="1E20">1E/20</option>
                                <option value="2A19">2A/19</option>
                                <option value="2B19">2B/19</option>
                                <option value="2C19">2C/19</option>
                                <option value="2D19">2D/19</option>
                                <option value="2E19">2E/19</option>
                                <option value="3A20">3A/20</option>
                                <option value="3B20">3B/20</option>
                                <option value="3C20">3C/20</option>
                                <option value="3D20">3D/20</option>
                                <option value="3E20">3E/20</option>
                                <option value="4A19">4A/19</option>
                                <option value="4B19">4B/19</option>
                                <option value="4C19">4C/19</option>
                                <option value="4D19">4D/19</option>
                                <option value="4E19">4E/19</option>
                                <option value="0120">01/20</option>
                                <option value="0220">02/20</option>
                                <option value="0320">03/20</option>
                                <option value="0420">04/20</option>
                                <option value="0520">05/20</option>
                                <option value="0620">06/20</option>
                                <option value="0720">07/20</option>
                                <option value="0820">08/20</option>
                                <option value="0920">09/20</option>
                                <option value="1020">10/20</option>
                                <option value="1120">11/20</option>
                                <option value="1220">12/20</option>
                                <option value="1320">13/20</option>
                                <option value="1420">14/20</option>
                                <option value="1520">15/20</option>
                                <option value="1620">16/20</option>
                                <option value="1720">17/20</option>
                                <option value="1820">18/20</option>
                                <option value="1920">19/20</option>
                                <option value="2020">20/20</option>
                                <option value="2120">21/20</option>
                                <option value="2220">22/20</option>
                                <option value="2320">23/20</option>
                                <option value="2420">24/20</option>
                                <option value="0119">01/19</option>
                                <option value="0219">02/19</option>
                                <option value="0319">03/19</option>
                                <option value="0419">04/19</option>
                                <option value="0519">05/19</option>
                                <option value="0619">06/19</option>
                                <option value="0719">07/19</option>
                                <option value="0819">08/19</option>
                                <option value="0919">09/19</option>
                                <option value="1019">10/19</option>
                                <option value="1119">11/19</option>
                                <option value="1219">12/19</option>
                                <option value="1319">13/19</option>
                                <option value="1419">14/19</option>
                                <option value="1519">15/19</option>
                                <option value="1619">16/19</option>
                                <option value="1719">17/19</option>
                                <option value="1819">18/19</option>
                                <option value="1919">19/19</option>
                                <option value="2019">20/19</option>
                                <option value="2119">21/19</option>
                                <option value="2219">22/19</option>
                                <option value="2319">23/19</option>
                                <option value="2419">24/19</option>
                              </select>
                        </div>
                    </div>

                    <div class="field">
                        <label>Password</label>
                        <div class="four wide field">
                            <input type="password" name="password" placeholder="Password">
                        </div>
                    </div>


                    <h4 class="ui dividing header">New Links</h4>
                    {% for index in range(1,16) %}
                    <div class="field">
                        <label>Link {{index}}</label>
                        <div class="two fields">    
                            <div class="field">
                                <!--<input type="text" name="title_{{index}}" placeholder="Link Title">-->
                                <select class="ui search dropdown title_{{index}}" name="title_{{index}}">
                                    <option value="">Title</option>
                                    <option value="H1 Project Work">H1 Project Work</option>
                                    <option value="H1 General Paper">H1 General Paper</option>
                                    <option value="H1 Economics">H1 Economics</option>
                                    <option value="H2 Economics">H2 Economics</option>
                                    <option value="H3 Economics">H3 Economics</option>
                                    <option value="H1 Mathematics>">H1 Mathematics</option>
                                    <option value="H2 Mathematics">H2 Mathematics</option>
                                    <option value="H3 Mathematics">H3 Mathematics</option>
                                    <option value="Further Mathematics">Further Mathematics</option>
                                    <option value="Fundamental Mathematics">Fundamental Mathematics</option>
                                    <option value="Intermediate Mathematics">Intermediate Mathematics</option>
                                    <option value="Advanced Mathematics">Advanced Mathematics</option>
                                    <option value="H1 Chemistry">H1 Chemistry</option>
                                    <option value="H2 Chemistry">H2 Chemistry</option>
                                    <option value="H3 Chemistry">H3 Chemistry</option>
                                    <option value="Chemistry">Chemistry</option>
                                    <option value="H1 Physics">H1 Physics</option>
                                    <option value="H2 Physics">H2 Physics</option>
                                    <option value="H3 Physics">H3 Physics</option>
                                    <option value="Physics">Physics</option>
                                    <option value="H1 Biology">H1 Biology</option>
                                    <option value="H2 Biology">H2 Biology</option>
                                    <option value="H3 Biology">H3 Biology</option>
                                    <option value="Biology">Biology</option>
                                    <option value="H2 Art">Art</option>
                                    <option value="H1 History">H1 History</option>
                                    <option value="H2 History">H2 History</option>
                                    <option value="H3 History">H3 History</option>
                                    <option value="H1 Geography">H1 Geography</option>
                                    <option value="H1 Geography">H2 Geography</option>
                                    <option value="H1 Geography">H3 Geography</option>
                                    <option value="H2 Knowledge and Inquiry">H2 Knowledge and Inquiry</option>
                                    <option value="H1 Literature">H1 Literature</option>
                                    <option value="H2 Literature">H2 Literature</option>
                                    <option value="H3 Literature">H3 Literature</option>
                                    <option value="Chinese Language and Literature">Chinese Language and Literature</option>
                                    <option value="H1 Chinese">H1 Chinese</option>
                                    <option value="CLB Chinese">CLB Chinese</option>
                                    <option value="Higher Chinese">Higher Chinese</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Malay">Malay</option>
                                    <option value="Tamil">Tamil</option>
                                    <option value="Chinese Language Elective Programme">Chinese Language Elective Programme</option>
                                    <option value="H2 Music">H2 Music</option>
                                    <option value="Music Lanuguage Elective Programme">Music Lanugage Elective Programme</option>
                                    <option value="Langauge Arts">Langauge Arts</option>
                                    <option value="Green Science">Green Science</option>
                                    <option value="Fundamental Humanities">Fundamental Humanities</option>
                                    <option value="Core Humanities">Core Humanities</option>
                                    <option value="Skills and Knowledge">Skills and Knowledge</option>
                                    <option value="other">Other</option>
                                </select>
                                <input type="text" class="title_{{index}}_custom" name="title_{{index}}_custom" hidden>
                            </div>
                            <div class="field">
                                <input type="text" name="url_{{index}}" placeholder="Link URL">
                            </div>
                            <div class="field">
                                <input type="text" name="desc_{{index}}" placeholder="Description">
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <button class="ui right floated positive button" type="submit">Submit</button>
                    
                </form>
                <a href="./"><button class="ui button">Back to Main Site</button></a>
            </div>
    
        </div>

    
        <script>
         $(document).ready(function(){

          $('.ui.dropdown') .dropdown();

        {% for index in range(1,16) %}
        $('.title_{{index}}').dropdown({
                onChange:  function(value, text){
                    if (value == "other"){
                        $(this).hide();
                        $('.title_{{index}}_custom').show()
                    }

                }
            });
        {% endfor %}

        });
        </script>
    
    </body>
    <html>