<html>

<head>
    <title>HBL Dashboard</title>
    <link rel="icon" href="/static/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='semantic/semantic/dist/semantic.min.js') }}"></script>

    <style>
        body {
            background-color: azure;
        }

        .margined {
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 2%;
        }
    </style>
</head>

<body>
    <div class="margined" style="margin-top: 2%;">
        <div class="ui segment">
            <div class="ui huge centered header">Subject URL Update Page</div>
            <h3 class="ui dividing header">Information</h3>
            <p>Hello! This is the page where the CG chairperson of CG {{class_name[:-2]}}/{{class_name[-2:]}} can update
                information on the relevant class links.<br>
                Password should have been distributed to the CG chairperson.<br><br>

                If your class has overridden the default class icon but want it back, you can download it <a
                    href=" https://cdn.avero-tech.com/tjc/img/icon/android-icon-192x192.png"
                    target="_blank">HERE</a>.<br>
                If you want to view the links already stored for your class, download button below.<br>
            </p>

            <a href="/static/class_link_database/{{class_name}}_links.csv">
                <button class="ui green basic button">Download Current CG{{class_name[:-2]}}/{{class_name[-2:]}}
                    Links</button>
            </a>
            <br><br>

            <form class="ui form" action="/submit_update" method="POST">
                <h4 class="ui dividing header">Identity Information</h4>
                <div class="field">
                    <label>Class</label>
                    <div class="four wide field">
                        <input class="text" readonly name="class_name" id="class_name" value="{{class_name}}">
                    </div>
                </div>

                <div class="field">
                    <label>Password</label>
                    <div class="four wide field">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>


                <h4 class="ui dividing header">New Links</h4>
                {% for index in range(1,16) %}
                <div class="field">
                    <label>Link {{index}}</label>
                    <div class="two fields">
                        <div class="field">
                            <!--<input type="text" name="title_{{index}}" placeholder="Link Title">-->
                            <select class="ui search dropdown title_{{index}}" name="title_{{index}}">
                                <option value="">Title</option>
                                <option value="H1 Project Work">H1 Project Work</option>
                                <option value="H1 General Paper">H1 General Paper</option>
                                <option value="H1 Economics">H1 Economics</option>
                                <option value="H2 Economics">H2 Economics</option>
                                <option value="H3 Economics">H3 Economics</option>
                                <option value="H1 Mathematics">H1 Mathematics</option>
                                <option value="H2 Mathematics">H2 Mathematics</option>
                                <option value="H3 Mathematics">H3 Mathematics</option>
                                <option value="Further Mathematics">Further Mathematics</option>
                                <option value="Fundamental Mathematics">Fundamental Mathematics</option>
                                <option value="Intermediate Mathematics">Intermediate Mathematics</option>
                                <option value="Advanced Mathematics">Advanced Mathematics</option>
                                <option value="H1 Chemistry">H1 Chemistry</option>
                                <option value="H2 Chemistry">H2 Chemistry</option>
                                <option value="H3 Chemistry">H3 Chemistry</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="H1 Physics">H1 Physics</option>
                                <option value="H2 Physics">H2 Physics</option>
                                <option value="H3 Physics">H3 Physics</option>
                                <option value="Physics">Physics</option>
                                <option value="H1 Biology">H1 Biology</option>
                                <option value="H2 Biology">H2 Biology</option>
                                <option value="H3 Biology">H3 Biology</option>
                                <option value="Biology">Biology</option>
                                <option value="H2 Art">Art</option>
                                <option value="H1 History">H1 History</option>
                                <option value="H2 History">H2 History</option>
                                <option value="H3 History">H3 History</option>
                                <option value="H1 Geography">H1 Geography</option>
                                <option value="H1 Geography">H2 Geography</option>
                                <option value="H1 Geography">H3 Geography</option>
                                <option value="H2 Knowledge and Inquiry">H2 Knowledge and Inquiry</option>
                                <option value="H1 Literature">H1 Literature</option>
                                <option value="H2 Literature">H2 Literature</option>
                                <option value="H3 Literature">H3 Literature</option>
                                <option value="Chinese Language and Literature">Chinese Language and Literature</option>
                                <option value="H1 Chinese">H1 Chinese</option>
                                <option value="CLB Chinese">CLB Chinese</option>
                                <option value="Higher Chinese">Higher Chinese</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Malay">Malay</option>
                                <option value="Tamil">Tamil</option>
                                <option value="Chinese Language Elective Programme">Chinese Language Elective Programme
                                </option>
                                <option value="H2 Music">H2 Music</option>
                                <option value="Music Lanuguage Elective Programme">Music Lanugage Elective Programme
                                </option>
                                <option value="Language Arts">Language Arts</option>
                                <option value="Green Science">Green Science</option>
                                <option value="Fundamental Humanities">Fundamental Humanities</option>
                                <option value="Core Humanities">Core Humanities</option>
                                <option value="Skills and Knowledge">Skills and Knowledge</option>
                                <option value="other">Other</option>
                            </select>
                            <input type="text" class="title_{{index}}_custom" name="title_{{index}}_custom" hidden>
                        </div>
                        <div class="field">
                            <input type="text" name="url_{{index}}" placeholder="Link URL">
                        </div>
                        <div class="field">
                            <input type="text" name="desc_{{index}}" placeholder="Description">
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="ui red big message">All changes will overwrite existing links upon submission!</div>
                <button class="ui right floated positive button" type="submit">Submit</button>

            </form>
            <a href="/{{class_name}}/0"><button class="ui button">Back to Main Site</button></a>
        </div>

    </div>


    <script>
        $(document).ready(function () {

            $('.ui.dropdown').dropdown();

            {% for index in range(1, 16) %}
            $('.title_{{index}}').dropdown({
                onChange: function (value, text) {
                    if (value == "other") {
                        $(this).hide();
                        $('.title_{{index}}_custom').show()
                    }

                }
            });
            {% endfor %}

        });
    </script>

</body>
<html>